.designer {
  width: 100vw;
  height: 100vh;
  display: flex;
  border: 1px solid black;

  /* prevent text drag */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sideBar {
  width: 6rem;
  border-right: 1px solid black;
}

.sideBarTitle {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: antiquewhite;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.sideBarItem {
  cursor: pointer;
}

.sideBarItem:hover {
  background-color: antiquewhite;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topBar {
  height: 3rem;
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
}

.topBar > div {
  display: flex;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardBox {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: floralwhite;
}

.dashboardTop {
  position: relative;
  padding: 1rem;
  padding-top: 0rem;
}

.dashboardTitle {
  text-align: center;
}

.share {
  position: absolute;
  right: 0;
  top: 0;
}

.dashboard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.explain {
  margin: auto;
}

.area {
  height: 100%;
}

.chart {
  height: 100%;
  position: relative;
}

.chartPropertyBox {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background-color: black;
  color: white;
}

.chartPropertyItem {
  cursor: pointer;
}

.mosaicHidden {
  display: none;
  background-color: red;
}

/* MosaicWindow header */
:global(.mosaic-window) {
  overflow: visible !important;
}

:global(.mosaic-window-controls) {
  display: none !important;
}

:global(.mosaic-window-toolbar) {
  position: absolute !important;
  width: fit-content;
  top: -0.5rem;
  left: 50%;
  padding-right: 15px;
  transform: translateX(-50%);
  background-color: black !important;
  color: white;
}

:global(.hide-mosaic-header .mosaic-window-toolbar) {
  display: none !important;
}
